@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25%;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 25%;
}
form div {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
